* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: #3D3D3D;
}

img{
 border-radius: 50%;
 width: 120px;
 height: 120px;
 border: 4px solid #ffffff;
margin: 10px 0;
user-select: none;
}


h4 {
  font-size: 16px;
  letter-spacing: 2px;
}


h1 {
  color: #ffffff;
  text-align: center;
  margin: 20px;
}
.container {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

article{
  background-color: #161F30;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #ffffff;

}


h4.active{
  transition: 0.5s;
  transform: scale(0.3);

}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;

}

h4  {
  padding: 10px;

color: #84B026;



}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 120px;
  color: #84B026;
}

.btn-container .next-btn, .prev-btn {
font-size: 25px;
cursor: pointer;
font-weight: bold;
user-select: none;

}

.info {
  margin: 20px 0 0;
line-height: 23px;
}


p{
  color: #D9D9D9;
}